<!DOCTYPE html>
<html>
  <head>
  <title>CongressGameApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

<body>
<div class="container">
  <header class="row">
    <nav class="navbar navbar-pills navbar-inverse" role="navigation">
      <!-- <div class="navbar-header">
        <%= link_to(image_tag('Congress.png', class: 'logo'), root_path) %>
        <%= link_to "Home", root_path, class: 'navbar-brand' %>
      </div> -->
      <ul class="nav nav-pills nav-justified">
        <li><a href="#">Home</a></li>
        <li><a href="#">Game explained</a></li>
        <li><a href="#">Politicians</a></li>
        <li><a href="#">Scoreboard</a></li>
        <li><a href="#">Start playing</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
  </header>


  <%= yield %>

</div>
</body>
</html>