<!DOCTYPE html>
<html>
  <head>
  <title>CongressGameApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

<body>
<div class="container">
  <header class="row">
    <nav class="navbar navbar-pills navbar-inverse" role="navigation">
      <ul class="nav nav-pills nav-justified">
        <li><%= link_to"Home", root_path %></li>
        <li><%= link_to"Instructions", games_index_path %></li>
        <li><%= link_to"Politicians", politicians_index_path %></li>
        <li><%= link_to"Scoreboard", games_index_path %></li>
        <li><%= link_to"Start playing", users_index_path %></li>
        <li><%= link_to"Login", users_index_path %></li>
        <li><%= link_to"Logout", users_index_path %></li>
      </ul>
    </nav>
  </header>


  <%= yield %>

</div>
</body>
</html>

      <!-- <div class="navbar-header">
        <%= link_to(image_tag('Congress.png', class: 'logo'), root_path) %>
        <%= link_to "Home", root_path, class: 'navbar-brand' %>
      </div> -->